@model ProjetFinal_2073088.Models.Maillot

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Maillot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomEquipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomEquipe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taille)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taille)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Couleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Couleur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Annee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstPremium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstPremium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Promotion.PromotionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promotion.PromotionId)
        </dd>
    </dl>
    
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaillotId">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a asp-action="AjouterImage" asp-route-maillotID="@Model.MaillotId">Ajouter une image pour un maillot</a>
</div>
