@model IEnumerable<ProjetFinal_2073088.Models.Maillot>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomEquipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taille)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Couleur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstPremium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promotion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomEquipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taille)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Couleur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstPremium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promotion.PromotionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaillotId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaillotId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaillotId">Delete</a>  |
                <a  asp-action="MaillotsPourUnClub" asp-controller="Maillots" asp-route-nomEquipe="@item.NomEquipe"> Maillots Avec Equipe </a>
            </td>
             
               
                      
        </tr>
}
    </tbody>
</table>
